<!DOCTYPE html>
<html>
<head>
	<title>Calculator Results</title>
</head>
<body>

	<p>The result of the addition is --> <%= @addition %></p>

	<p>The result of the substraction is --> <%= @substraction %></p>

	<p>The result of the multiplication is --> <%= @multiplication %></p>

	<p>The result of the division is --> <%= @division %></p>
	
</body>
</html>