<!DOCTYPE html>
<html>
<head>
	<title>Search movies</title>
</head>
<body>
	<h1>Search for your movie:</h1>

	<p> 			

			<form action='/search_film' method ="GET">
	
			<input name="movie_search" type="text" />
			<input name="button_search" type="submit" value="Search!" />
		
			</form>

	</p>	

</body>
</html>