<!DOCTYPE html>
<html>
<head>
	<title>Login form</title>
</head>
<body>
	<p>
	<form action='/login' method ="POST">
	
		<input type="text" name="add_one" value=""> 
		<input name="commit" type="submit" value="Send" />
		
	</form>
	</p>
</body>
</html>


require_relative