<!DOCTYPE html>
<html>
<head>
	<title>Add new task</title>
</head>
<body>
	<h1>Add a task:</h1>

	<p>
	<form action='/newtask' method ="POST">
	
		<input type="text" name="add_task">
		<input name="new_task" type="submit" value="Add new task!" />
		
	</form>
	</p>
</body>
</html>