<!DOCTYPE html>
<html>
<head>
	<title>Online Calculator</title>
</head>
<body>
	<h2>Online Calculator</h2>

	<p>
	<form action='/' method ="POST">
	
		<input type="text" name="add_one"> + <input type="text" name="add_two">
		<input name="commit" type="submit" value="Send" />
		
	</form>
	</p>

	<p>
	<form action='/' method ="POST">
	
		<input type="text" name="substract_one"> - <input type="text" name="substract_two">
		<input name="commit" type="submit" value="Send" />
	
	</form>
	</p>

	<p>
	<form action='/' method ="POST">
	
		<input type="text" name="multiply_one"> * <input type="text" name="multiply_two">
		<input name="commit" type="submit" value="Send" />
	
	</form>
	</p>

	<p>
	<form action='/' method ="POST">
	
		<input type="text" name="divide_one"> / <input type="text" name="divide_two">
		<input name="commit" type="submit" value="Send" />
	
	</form>
	</p>
	
</body>
</html>